<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>auth</title>
    <link rel="stylesheet" href="..//assets/css/styleauth.css">
</head>
<body>
    <h1>MiApp</h1>
    <main>
    
        <div class="container">

            <div class="item">
                <h1>Create an account</h1>
            </div>
            <div class="item">
                <p>Enter your email to sign up for this app</p>
            </div>
            <div class="item">
                <input type="text" placeholder="email@domain.com">
            </div>
            <div class="item">
                <button> Sign up with email</button>
            </div>
            <div class="item">
                <p>-----------------------  or continue with -----------------------</p>
            </div>
            <div class="item">
                <span>
                <button type="submit" id="Google"> <div><img src="icons/Google.png" alt="Google" width="15px" height="15px" ></div> Google</button>
                </span>
            </div>
            <div class="item">
                <p>By clicking continue, you agree to our <b> Terms of <br> Service</b> and <b>Privacy Policy</b></p>
            </div>
        </div>
    </main>
</body>
</html>