<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BannerArticle</title>
    <link rel="stylesheet" href="../assets/css/style.css">  
</head>
<body>
    <main>
    <div class="container">
            <div class="item">
                <h1>Nuestros Ingredientes</h1>
                </div>
            <div class="item">
                <p>Subheading that sets up context, shares more info about the <br> author, or generally gets people psyched to keep reading </p>
            </div>
            <div class="item">
                <img src="images/banner.png" alt="comida" width="680" height="300" >
            </div>
    </div>
    </main>
</body>
</html>