<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="../assets/css/Stylecontacts.css">
</head>
<body>
    <main>   
        <div class="container">
                <div class="items">
                    <h1>Contactos</h1>
                </div>
                <div class="items">
                    <img src="images/helena.png" alt="helena">
                    <div>
                        <p id="names">Helena</p>
                        <p>email@figmasfakedomain.net</p>
                    </div>
                </div>
                <div class="items">
                    <img src="images/oscar.png" alt="oscar">
                    <div>
                        <p id="names">Oscar</p>
                        <p>email@figmasfakedomain.net</p>
                    </div>
                </div>
                <div class="items">
                    <img src="images/daniel.png" alt="oscar">
                    <div>
                        <p id="names">Daniel</p>
                        <p>email@figmasfakedomain.net</p>
                    </div>
                </div>
                <div class="items">
                    <img src="images/jay.png" alt="oscar">
                    <div>
                        <p id="names">Daniel Jay Park</p>
                        <p>email@figmasfakedomain.net</p>
                    </div>
                </div>
                <div class="items">
                    <img src="images/mark.png" alt="oscar">
                    <div>
                        <p id="names">Mark Rojas</p>
                        <p>email@figmasfakedomain.net</p>
                    </div>
                </div>
        </div>
    </main>
</body>
</html>
