<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="../assets/css/Styleposts.css">
</head>
<body>
    <main>
        <div class="container">

            <div class="items">
                <div id="top">
                    <img src="images/helena.png" alt="helena">
                    <div>
                    <p> <b>Helena</b> in Group name</p>
                    <p id="time"> 3 min ago</p>
                    </div>
                    <div id="more">
                    <img id="more" src="icons/More.png" alt="More">
                    </div>
                </div>
                <img src="images/cuadro.png" alt="cuadro">
                <div id="bottom">
                    Post description
                </div>
                <div id="finalp">
                    <img src="icons/Heart.png" alt="heart">
                    <p>2 likes</p>
                    <img src="icons/Comment.png" alt="Comment">
                    <p>5 comments</p>
                </div>
            </div>

            <div class="items">
                <div id="top">
                    <img src="images/daniel.png" alt="daniel">
                    <div>
                    <p> <b>Daniel</b> in Group name</p>
                    <p id="time"> 3 min ago</p>
                    </div>
                    <div id="more">
                        <img id="more" src="icons/More.png" alt="More">
                    </div>
                </div>
                <img src="images/cuadro.png" alt="cuadro">
                <div id="bottom">
                Post description
                </div>
                <div id="finalp">
                    <img src="icons/Heart.png" alt="heart">
                    <p>2 likes</p>
                    <img src="icons/Comment.png" alt="Comment">
                    <p>5 comments</p>
                </div>
            </div>

            <div class="items">
                <div id="top">
                    <img src="images/oscar.png" alt="oscar">
                    <div>
                    <p> <b>Oscar</b> in Group name</p>
                    <p id="time"> 3 min ago</p>
                    </div>
                    <div id="more">
                        <img id="more" src="icons/More.png" alt="More">
                    </div>
                </div>
                <img src="images/cuadro.png" alt="cuadro">
                <div id="bottom">
                    Post description
                </div>
                <div id="finalp">
                    <img src="icons/Heart.png" alt="heart">
                    <p>2 likes</p>
                    <img src="icons/Comment.png" alt="Comment">
                    <p>5 comments</p>
                </div>
            </div>

        </div>
    </main>
</body>
</html>
